@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: Roboto;
  color: white;
}

body {
  background-color: #35353c;
}

.ligne {
  display: flex;
  padding: 30px;
  justify-content: space-around;
}

.colonne {
  flex: 1;
  margin: 10px;
}

h1 {
  font-size: 2em;
  color: #B6A3FF;
  text-align: center;
  font-weight: bold;
}
h2 {
  font-size: 1.7em;
  color: #B6A3FF;
  text-align: center;
  font-weight: 500;
}
textarea, input[type=text], select {
  background-color: #414348;
  border-color: #E3DCFF;
  border-width: 2px;
  border-radius: 3px;
  border-style: hidden hidden solid hidden;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  padding: 5px;
  /* box-shadow: 0 6px 6px -4px #b4a1bb; */
  width: calc(100% - 1em);
}

input:disabled, textarea:disabled {
  /* background-color: #3A3C40;
  border-color: darkgrey; */
  /* color: transparent; */
  display: none!important;
}

input.contrainte_text {
  width: calc(100% - 1em - 60px);
}

input[type=number] {
  margin: 2.5px;
  padding: 5px;
  width: 40px;
  background-color: #3A3C40;
  border-color: #E3DCFF;
  border-width: 2px;
  border-radius: 3px;
  border-style: hidden hidden solid hidden;
}
.titre_bouton{
  display: flex;
  align-items: center;
}

.titre_bouton>label{
  flex:1;

}

button {
  border-style: solid;
  background-color: #3A3C40;
  border-color: #E3DCFF;
  border-width: 2px;
  border-radius: 2px;
  transition: 0.2s;
  padding: 4px 8px;
  margin: 2px;
}
button:hover {
  color: #000;
  background-color: #E3DCFF;
}

.removable {
  display: flex;
  align-items: center;
}

textarea {
  font-family: monospace;
  width: 95%;
  resize: vertical;
}
.explications {
  display: grid;
  place-items: center;
}
p {
  text-align: justify;
  margin: 0 5%;
  max-width: 1100px;
}

.action_params {
    margin-left: 10px;
    padding: 8px;
    border-left: 2px solid #fff3;
}

@media (max-width: 1100px) {
  * {
    font-size: 1.05em;
  }
  .ligne {
    display: list-item;
    padding: 0;
    justify-content: space-around;
  }

  .colonne {
    max-width: none;
    min-width: 300px;
  }

  /* .collection{
    width: 95%;
  } */

}
